body {
	margin: 0;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: #fff;
	background-color: #050818;
}

img {
	max-width: 100%;
}

.visually-hidden {
	position: absolute;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: none;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Roboto Condensed', 'Trebuchet MS', Helvetica, sans-serif;
}

[type='submit'],
pre,
code,
input,
textarea {
	font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}
