html {
	scroll-behavior: smooth;
}

body {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto 1fr auto;
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
	font-size: var(--font-size);
	line-height: 1.5;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: var(--page-text);
	background-color: var(--page-body);
	transition: color var(--transition-duration) var(--transition-function), background-color var(--transition-duration) var(--transition-function);
}

video,
img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: none;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 400;
	font-family: 'Roboto Condensed', 'Trebuchet MS', Helvetica, sans-serif;
}

[type='submit'],
pre,
code,
input,
textarea {
	font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

a[href]:not([tabindex='-1']),
area[href]:not([tabindex='-1']),
input:not([disabled]):not([tabindex='-1']),
select:not([disabled]):not([tabindex='-1']),
textarea:not([disabled]):not([tabindex='-1']),
button:not([disabled]):not([tabindex='-1']),
iframe:not([tabindex='-1']),
[tabindex]:not([tabindex='-1']),
[contentEditable=true]:not([tabindex='-1']) {
	&:focus-visible {
		outline: 2px solid var(--color-active);
		outline-offset: 1px;
	}
}

.container {
	position: relative;
	max-width: var(--page-width);
	margin: 0 auto;
	padding: var(--offset-pageY) var(--offset-pageX);
}

.container--group {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
	column-gap: var(--offset-pageX);
	row-gap: calc(var(--offset-pageY) * 2);
}

body:not(.index) section:not(:last-child) .container:last-child::after {
	content: '';
	display: block;
	margin-top: var(--offset-pageY);
	border-bottom: 1px solid #cfcfcf;
}

body:not(.index) {
	& section {

		@media (min-width: @min-sm) {

			& .container h2,
			& .container h3,
			& .container h4 {
				font-size: 1.6em;
			}
		}

		@media (min-width: @min-md) {

			& .container .container h2,
			& .container .container h3 {
				font-size: 1.8;
			}
		}

		@media (min-width: @min-lg) {
			& .container h2 {
				font-size: 2em;
			}
		}

		[target="_blank"]:not(.media-dzen a) {
			&::after {
				content: '';
				display: inline-block;
				width: 0.7em;
				height: 0.7em;
				vertical-align: middle;
				background-color: var(--color-hover);
				mask-image: url(../../img/sprite.svg#link-blank);
				mask-size: contain;
				mask-repeat: no-repeat;
			}
		}

		& figure {
			display: block;
			margin: 0 40px;
			text-align: left;

			&:not(:last-child) {
				margin-bottom: var(--font-size);
			}
		}

		& picture {
			display: inline-block;
		}

		& img {
			display: block;
		}

		& figcaption {
			font-size: 14px;
			opacity: 0.85;
		}

		& a {
			color: inherit;
			transition: color var(--transition-duration) var(--transition-function);

			&:hover {
				color: var(--color-hover);
			}

			&:active {
				color: var(--color-active);
			}
		}

		& p {
			margin: 0;

			&:not(:last-child) {
				margin-bottom: var(--font-size);
			}
		}

		& h2,
		& h3,
		& h4,
		& h5 {
			margin-top: 0;
			margin-bottom: var(--font-size);
			font-size: 1.4em;
		}
	}

	code {
		box-sizing: border-box;
		max-width: 100%;
		padding: 0 2px;
		overflow: auto hidden;
		background-color: var(--bg-code);
	}

	.demo {
		font-size: 1.5em;
		font-family: "Roboto Condensed", "Trebuchet MS", Helvetica, sans-serif;
		text-transform: uppercase;
		text-decoration-color: var(--color-hover);
	}
}

.bolt-chips-wrap {
	@media (min-width: @min-lg) {
		right: calc((100vw - var(--page-width)) / 2) !important;
	}
}

.bolt-chips {
	font-size: 1em !important;
	text-align: center;
}

body:not(.index) section img {
	border: 2px solid var(--color-hover);
}

iframe[src*="dzen.ru"] {
	width: 100%;
	height: auto;
	aspect-ratio: 480 / 270;
}
