- var pageTitle = "Селекторы в CSS. Братский селектор"
- var desc = '"Братский" селектор выбирает все элементы после выбранного, внутри родителя. Проще говоря: выбирает все элементы после выбранного.'

- var heading = 'Братский селектор.'
- var idPage = 'fraternal_css_selector'

- var group = 'css'
- var nameGroup = 'CSS';

- var descCard = 'Данный селектор выбирает все элементы после выбранного, внутри родителя. Проще говоря: выбирает все элементы после выбранного. ...'
- var url = 'article/css/fraternal_css_selector/'
- var date = '26.07.2022'
