- var pageTitle = "Кастомные чекбоксы и радиокнопки."
- var desc = 'Способы кастомизации радиокнопок и чекбоксов на чистом css для сайта.'
- var keywords = "кастомные чекбоксы, кастомные радиокнопки, checkbox, checked"

- var heading = 'Кастомные чекбоксы и радиокнопки.'
- var idPage = 'сustom_checkboxes_and_radio_buttons'

- var group = 'css'
- var nameGroup = 'CSS';

- var descCard = 'Браузерные чекбоксы и радиокнопки в разных браузерах могут выглядеть по-разному. Кроме того, внешний вид этих элементов практически всегда...'
- var url = 'article/css/сustom_checkboxes_and_radio_buttons/'
- var date = '02.07.2023'
