- var pageTitle = "Анимированный таймер на SVG."
- var desc = 'Я описал небольшой скрипт таймера. Используется библиотека Snapsvg. Анимированный таймер можно несколько раз использовать на странице и настроить.'

- var heading = 'Анимированный таймер на SVG.'
- var idPage = 'timer_snapsvg'

- var group = 'js'
- var nameGroup = 'JS';

- var descCard = 'А вот еще один таймер. В нем используется библиотека Snapsvg. Для работы данного таймера необходимо лишь подключить timer.js и вызвать ...'
- var url = 'article/js/timer_snapsvg/'
- var date = '04.09.2019'
