.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	padding-bottom: var(--offset-pageY);

	@media (max-width: @max-xl) {
		padding-bottom: calc(var(--offset-pageY) * 2);
	}
}

.card__title {
	margin: 0 0 0.5em;
	font-size: 35px;
	line-height: 1;

	@media (min-width: @min-md) {
		font-size: 39px;
	}
}

.card__desc {
	margin: 0 0 calc(var(--offset-pageY) / 3);

	@media (min-width: @min-lg) {
		font-size: 20px;
	}
}

.card__link {
	display: inline-block;
	color: inherit;
	transition: color var(--transition-duration) var(--transition-function);

	&:hover {
		color: var(--color-hover);

		&::after {
			background-color: var(--color-hover);
		}
	}

	&:active {
		color: var(--color-active);

		&::after {
			background-color: var(--color-active);
		}
	}
}

.card__meta {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	font-size: 14px;
	opacity: 0.8;
	padding-right: 1em;
}

.card__date {
	margin-left: auto;
	opacity: 0.8;
}
