.code {
	display: block;
	padding: calc(var(--offset-pageY) / 2) calc(var(--offset-pageX) / 2);
	font-size: 14px;
	line-height: 20px;
	background-color: var(--bg-code);


	&:not(:last-child) {
		margin-bottom: var(--font-size);
	}

	& pre {
		position: absolute;
		white-space: pre-wrap;
		word-wrap: break-word;
		color: transparent;
		z-index: -1;
	}
}

.code__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 25px;
	line-height: 1;
	font-family: 'Roboto Condensed', 'Trebuchet MS', Helvetica, sans-serif;
	text-transform: uppercase;
}

.no-js .code__copy {
	display: none;
}

.code__copy {
	width: 25px;
	height: 25px;
	padding: 0;
	background-color: var(--page-text);
	border: 0;
	transition: background-color var(--transition-duration) var(--transition-function);
	mask-image: url(../../img/icon/copy.svg);
	mask-size: 25px 25px;
	mask-repeat: no-repeat;
	mask-position: center;

	&:hover {
		background-color: var(--color-hover);
	}

	&:active {
		background-color: var(--color-active);
	}
}

.core__pre {
	display: flex;
	flex-direction: column;
	white-space: pre-wrap;
	word-wrap: break-word;
	background: repeating-linear-gradient(transparent, transparent 19px, rgba(145, 152, 229, 0.4) 19px, transparent 20px);

	& > span {
		display: flex;
		transition: background-color var(--transition-duration) var(--transition-function);

		&:hover {
			background-color: rgba(255, 255, 255, 0.4);
		}
	}

	& > span > span {
		display: block;
		margin-right: 1em;
		color: var(--color-active);
		user-select: none;
		pointer-events: none;
		opacity: 0.7;
	}
}
