.footer {

	& p {
		margin: 0;
	}
}

.footer__container {
	display: flex;
	justify-content: space-around;
	align-items: center;

	@media (min-width: @min-sm) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		column-gap: var(--offset-pageX);
	}
}

.index {

	& .footer {
		position: relative;
		z-index: 1;

		& p {
			opacity: 0.7;
		}
	}
}
