.header__nav {
	display: flex;
	align-items: center;
}

.header__logo {
	display: flex;
	align-items: center;
	margin-right: auto;
	margin-right: 15px;
	font-size: 20px;
	line-height: 30px;
	color: var(--page-text);
	text-transform: uppercase;
	text-decoration: none;
	transition: color var(--transition-duration) var(--transition-function);

	&:hover {
		color: var(--color-hover);
	}

	&:active {
		color: var(--color-active);
	}

	svg {
		display: block;
		color: var(--page-text);
	}

	& span {
		display: block;
		width: min-content;
		margin-left: 15px;

		@media (max-width: @max-md) {
			display: none;
		}
	}
}

.header__list {
	display: flex;
	margin: 0 0 0 auto;
	padding: 0;
	list-style-type: none;
}

.header__item {
	&:last-child {
		margin-right: -9px;
	}
}

.header__link {
	display: block;
	padding: 8px 9px;
	font-size: 22px;
	font-family: 'Roboto Condensed', 'Trebuchet MS', Helvetica, sans-serif;
	color: inherit;
	text-decoration: none;
	transition: color var(--transition-duration) var(--transition-function), opacity var(--transition-duration) var(--transition-function);

	@media (min-width: @min-md) {
		font-size: 20px;
	}

	@media (min-width: @min-lg) {
		font-size: 22px;
	}

	@media (min-width: @min-xl) {
		font-size: 24px;
	}

	&:hover {
		color: var(--color-hover);
	}

	&:active {
		color: var(--color-active);
	}
}

// header--index
.header--index {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
	background-image: linear-gradient(to bottom, var(--color-body) 85%, transparent);

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 214px;
		background-image: url(../../img/home/cloud-2.png);
		background-image:
			image-set(url(../../img/home/cloud-2.png),
				url(../../img/home/cloud-2.avif) type("avif"),
			);
		background-position: center bottom;
		animation: bg 220s linear 0s infinite alternate;
		pointer-events: none;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100px;
		background-image: url(../../img/home/cloud-1.png);
		background-image: image-set(url(../../img/home/cloud-1.png),
				url(../../img/home/cloud-1.avif) type("avif"),
			);
		background-position: center bottom;
		animation: bg-rev 180s linear 0s infinite alternate;
		pointer-events: none;
	}

	& .header__nav {
		margin: 0 auto;
	}

	.header__link {
		&:hover:not(:active) {
			color: #fff;
			opacity: 0.7;
		}
	}
}

@keyframes bg {
	0% {
		background-position: 0 bottom;
	}

	100% {
		background-position: 1000px bottom;
	}
}

@keyframes bg-rev {
	0% {
		background-position: 1000px bottom;
	}

	100% {
		background-position: 0 bottom;
	}
}

.header__nav-toggle {
	display: none;
}

@media (max-width: @max-sm) {
	& body:not(.index) {
		.header__nav-toggle {

			&::before,
			&::after {
				color: var(--color-hover);
				background-color: var(--color-hover);
			}
		}

		.header__list {
			&::before {
				background-color: var(--page-body);
			}
		}
	}

	.header__nav-toggle--close + .header__list {
		transform: translateX(100%);
	}

	.header__nav-toggle {
		position: relative;
		display: block;
		width: 48px;
		height: 48px;
		margin-left: auto;
		padding: 0;
		background-color: transparent;
		border: 0;
		appearance: none;
		transition: opacity var(--transition-duration) var(--transition-function);

		&:hover {
			opacity: 0.7;
		}

		&:active {
			opacity: 1;

			&::before,
			&::after {
				color: var(--color-active);
				background-color: var(--color-active);
			}
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 10px;
			width: 28px;
			height: 2px;
			color: var(--page-body);
			background-color: var(--page-body);
			box-shadow: 0 0 0 currentColor;
			transition: transform var(--transition-duration) var(--transition-function), box-shadow var(--transition-duration) var(--transition-function), background-color var(--transition-duration) var(--transition-function), color var(--transition-duration) var(--transition-function);
		}

		&::before {
			top: 22px;
			transform: rotate(45deg);
		}

		&::after {
			top: 22px;
			transform: rotate(-45deg);
		}

		&--close {
			&::before {
				top: 10px;
				top: 10px;
				box-shadow: 0 13px 0 currentColor;
				transform: none;
			}

			&::after {
				top: auto;
				bottom: 10px;
				box-shadow: 0 -13px 0 currentColor;
				transform: none;
			}
		}
	}

	.header__list {
		position: fixed;
		top: 88px;
		right: 0;
		z-index: 1;
		flex-direction: column;
		align-items: flex-end;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		padding: var(--offset-pageX) var(--offset-pageY);
		transition: transform var(--transition-duration) var(--transition-function);

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background-color: var(--page-text);
			opacity: 0.8;
			backdrop-filter: blur(10px);
		}

		& .header__item:last-child {
			margin-right: 0;
		}
	}
}
