.slider {
	position: relative;
	width: 100%;
	max-width: 100%;
	margin: 1em 0;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 50px;
		height: 50px;
		background-color: #fff;
		opacity: 0;
		transition: opacity var(--transition-duration) var(--transition-function);
		pointer-events: none;
		mask-image: url(../../img/icon/swipe.svg);
		mask-repeat: no-repeat;
		mask-size: 50px 50px;
	}

	&:hover::before {
		animation-name: slider-before;
		animation-duration: 3s;
	}
}

@keyframes slider-before {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 0.25;
	}

	70% {
		opacity: 0.25;
	}

	100% {
		opacity: 0;
	}
}

.slider__list {
	display: flex;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.slider__item {
	flex-shrink: 0;
}

.slider__content {
	height: 100%;
	padding: var(--offset-pageX);
	text-align: center;

	& .card__link {
		color: inherit;
		transition: color var(--transition-duration) var(--transition-function), opacity var(--transition-duration) var(--transition-function);

		&::after {
			background-color: #fff;
		}

		&:hover:not(:active) {
			opacity: 0.7;
		}

		&:active {
			color: var(--color-active);

			&::after {
				background-color: var(--color-active);
			}
		}
	}
}

.no-js {
	& .slider__list {
		padding-bottom: 20px;
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
		scrollbar-color: var(--color-text) transparent;

		&::-webkit-scrollbar {
			height: 20px;
		}

		&::-webkit-scrollbar-thumb {
			background: var(--color-text);
		}

		&::-webkit-scrollbar-track {
			background: transparent;
			box-shadow: 0 0 1px var(--color-text);
		}
	}

	.slider__item {
		display: flex;
		flex-basis: 100%;
		scroll-snap-align: center;
	}
}

body:not(.no-js) {
	.slider {
		padding-bottom: 12px;
	}

	.slider__list {
		overflow: hidden;
	}

	& .slider__item {
		cursor: grab;

		& .slider__content {
			display: none;
		}

		&--current {
			& .slider__content {
				display: block;
			}
		}
	}

	& .slider__content {

		& * {
			user-select: none;
		}

		& a,
		& a h3 {
			user-select: auto;
			user-select: initial;
		}
	}

	.slider--active {

		& .slider__content {
			display: block;
			cursor: grabbing;
		}
	}

	& .slider__pagination-wrap {
		display: flex;
		width: 100%;
		margin-top: var(--offset-pageY);
		font-size: 0;
	}

	& .slider__pagination {
		position: relative;
		display: block;
		flex-grow: 1;
		height: 12px;
		padding: 0;
		background-color: var(--color-active);
		border: 0;
		border-radius: 4px;
		transition: background-color var(--transition-duration) var(--transition-function), opacity var(--transition-duration) var(--transition-function);
		appearance: none;

		&:not(:first-child) {
			margin-left: 1px;
		}

		&:not(:last-child) {
			margin-right: 1px;
		}

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 48px;
			transform: translateY(-50%);
		}

		&:not(:disabled):hover {
			background-color: var(--color-text);
			opacity: 0.5;
		}

		&:not(:disabled):focus {
			background-color: var(--color-text);
			opacity: 0.75;
		}

		&:not(:disabled):focus-visible {
			outline: none;
		}

		&:not(:disabled):active {
			background-color: var(--color-text);
			opacity: 0.25;
		}

		&:disabled {
			background-color: var(--color-text);
		}
	}
}
