.main__header {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' overflow='scroll'%3e%3cpath d='M2.5 4.8L.5 4v-.5l1.9-.8v.6l-1.1.4 1.2.5v.6zm.1.4h1.8v.2H2.6v-.2zM5 2.4h.4L4.7 5h-.3L5 2.4zm.5 1.8l1.2-.5-1.2-.4v-.6l1.9.8V4l-1.9.8v-.6z' fill='rgba(0, 127, 173, 0.2)'/%3e%3ccircle stroke='rgba(0, 127, 173, 0.3)' stroke-width='.3' fill='rgba(0,0,0,0)' cx='4' cy='4' r='4'/%3e%3c/svg%3e");
	background-repeat: space;

	& h1 {
		margin: 0;
	}

	& p {
		margin-bottom: 0;
	}
}
