.media-dzen {
	position: relative;
	display: block;
	box-sizing: border-box;
	padding-bottom: 56.33%;
	color: #fff;
	background-color: #000;

	& a {
		display: block;
	}
}

.media-dzen__visible {
	position: absolute;
	top: 0;
	left: 0;
	display: block;

	& .media-dzen__img {
		display: block;
		width: 100%;
		height: 100%;
		border: 0;
		object-fit: cover;
	}
}

.no-js .media-dzen__play {
	display: none;
}

.media-dzen__play:hover {
	opacity: 1;
}

.media-dzen__play {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	padding: 0;
	background-color: transparent;
	background-image: url(../../img/sprite.svg#dzen-play);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 0;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.95;
	transition: opacity var(--transition-duration) var(--transition-function);
	appearance: none;
}
