- var pageTitle = "image-set оптимизация фоновой графики"
- var desc = '"image-set позволяет проще добавить фоновые картинки для ритиновых дисплеев уже сейчас и использовать фоновую графику в разных форматах. Но разные форматы на момент написания статьи можно использовать только в браузерах Firefox.'

- var heading = 'image-set.'
- var idPage = 'image_set'

- var group = 'css'
- var nameGroup = 'CSS';

- var descCard = 'Image-set это интересный метод, который появился недавно, но я жду с нетерпеньем, когда он заработает заработает во всех браузерах...'
- var url = 'article/css/image_set/'
- var date = '26.04.2023'
