- var pageTitle = "Селекторы в CSS. Дочерний селектор"
- var desc = '"Дочерний" селектор выбирает элемент, который находится непосредственно внутри выбранного блока.'

- var heading = 'Дочерний селектор.'
- var idPage = 'child_css_selector'

- var group = 'css'
- var nameGroup = 'CSS';

- var descCard = 'Тут все просто: в текущем блоке с помощью знака > выбираем дочерний элемент. Рассмотрим на примере как это работает: <style>...'
- var url = 'article/css/child_css_selector/'
- var date = '26.07.2022'
