extends ../../../templates/template.pug

block variables
	//- переменная для template.pug
	include var.pug

block main
	section
		.container
			h2 Вступление.
			p У меня уже есть статья #[a(href="https://uzinok.ru/article/article/deploy/") Деплой сайта на гитхабе], ну а можно ли сборку отправить сразу на хостинг? Конечно можно, и довольно просто))
			p Нам понадобится такой же файл, как и в деплое на gh-pages но с небольшими изменениями.
			p Вот пример моего файла:
			+codeBlock('yml', `on:\n  pull_request:\n    branches: [ "master" ]\n\nname: 🚀 Deploy website on push\n\njobs:\n  web-deploy:\n    name: 🎉 Deploy\n    runs-on: ubuntu-latest\n    steps:\n    - name: 🚚 Get latest code\n      uses: actions/checkout@v3\n\n    - name: Use Node.js 16\n      uses: actions/setup-node@v2\n      with:\n        node-version: '16'\n\n    - name: 🔨 Build Project\n      run: |\n        npm install\n        npm run build\n\n    - name: 📂 Sync files\n      uses: SamKirkland/FTP-Deploy-Action@4.3.3\n      with:\n        server: ftp57.hostland.ru\n        username: $\{\{ secrets.FTP_USER \}\}\n        password: $\{\{ secrets.FTP_PASS \}\}\n        port: 21\n        local-dir: ./dest/`)
			p А доку можно посмотреть #[a(href="https://github.com/marketplace/actions/ftp-deploy", target="_blank", rel="noopener noreferrer") тут]
			p Что тут происходит?
			ol
				li 1-3 строки: в моём случае екшен должен выполняться при пул реквесте в ветку #[code master]
				li 5-я строка: название екшена
				li 8-13: настройки окружения
				li 15-18 строки: выбор версии ноды
				li 20-23: установка зависимостей и сборка проекта
				li с 25-ой строки начинается сам деплой
				li 25: название
				li 26: сам екшен
				li 27: настройки
				li 28: сервер
				li 29: логин
				li 30: пароль
				li 31: порт
				li 32: папка в которую собирается проект
			p Я настроил #[i FTP] аккаунт так что мне не нужно указывать #[code server-dir], по этому пропустил этот параметр
			p Вроде всё понятно, но есть вопросы:
			ul
				li как прописать логин и пароль что бы в репозитории не было их видно
				li что же это за конструкции вмесо логина и пароля?
			p А эти конструкции и есть логин и пароль #[i FTP] аккаунта, только скрытые в секретах гитхаба. Для добавления такого секрета нужно зайти в настройки репозитория. Выбрать #[i Secrets and variables], далее #[i actons] ну и #[i new repository secret]
			figure
				picture
					source(srcset="img/article/deployment_server/img-1.avif", type="image/avif")
					source(srcset="img/article/deployment_server/img-1.webp", type="image/webp")
					img(src="img/article/deployment_server/img-1.jpg", alt="скрин со страницы настроек репозитория github с подсказками", width="820", height="568", loading="lazy")
				figcaption Скрин с подсказками
			p ну и маленький нюанс: если прописываете путь до директории на сервере, не забудьте эту самую дирректорию прописать до выполнения екшена
	section
		.container
			h2 Итоги.
			p Если всё сделано правильно, при первом же слиянии ветки в #[code master] все файлы сборки появятся на вашем сервере. Если много файлов - первый екшен может продолжаться долго. Ну а следующие екшены выполнять деплой будут гораздо быстрее, так как деплой на сервер будет отправлять только новые и изменённые файлы. А отслеживает екшен фалы при помощи файла #[i .ftp-deploy-sync-state.json].


	section
		.container
			h2.visually-hidden видео
			+zen-video("https://dzen.ru/embed/vAUT_3CGcDC8?from_block=partner&from=zen&backoffice=1&mute=1&autoplay=1&tv=0", "https://dzen.ru/video/watch/644f01345bcfc80295635aae", "img/article/deployment_server/video-1")










			//- +codeBlock('', '')
			//- +codeBlock('', '')
			//- +codeBlock('', '')
			//- +codeBlock('', '')
