- var pageTitle = 'Деплой сайта на удалённый сервер.'
- var desc = 'Публикация сайта на удаленный сервер спользуя github actions.'

- var heading = 'Деплой сайта на удалённый сервер.'
- var idPage = 'deployment_server'

- var group = 'article'
- var nameGroup = 'Статьи';

- var descCard = 'У меня уже есть статья Деплой сайта на гитхабе, ну а можно ли сборку отправить сразу на хостинг? Конечно можно, и довольно просто))...'
- var url = 'article/article/deployment_server/'
- var date = '01.05.2023'
