- var pageTitle = "Патерны в SVG."
- var desc = 'В svg в defs добавляем тэг pattern с необходимыми атрибутами и path'

- var heading = 'Патерны в SVG.'
- var idPage = 'patterns_in_svg'

- var group = 'svg'
- var nameGroup = 'SVG';

- var descCard = 'Вот как можно разукрасить SVG с помощью pattern. Сложного ничего нет. В svg в defs добавляем тэг pattern с необходимыми атрибутами и path и видим...'
- var url = 'article/svg/patterns_in_svg/'
- var date = '17.03.2019'
