- var pageTitle = "Селекторы в CSS. Соседский селектор"
- var desc = '"Соседский" селектор выбирает элемент, который находится непосредственно после выбранного элемента. '

- var heading = 'Соседский селектор.'
- var idPage = 'css_neighbor_selector'

- var group = 'css'

- var descCard = '"Соседский" селектор выбирает соседний селектор. Для примера можно написать такую HTML вёрстку <div class="block-2">  <span>...'
- var url = 'article/css/css_neighbor_selector/'
- var date = '26.07.2022'
