footer.footer
	.footer__container
		ul.social
			li.social__item
				a.social-link.social-link--tg(href="https://t.me/zapiski_verstalshika")
					span.visually-hidden телеграм
			li.social__item
				a.social-link.social-link--vk(href="https://vk.com/zapiski_verstalshika")
					span.visually-hidden вк
			li.social__item
				a.social-link.social-link--dzen(href="https://dzen.ru/zapiski_verstalshika")
					span.visually-hidden дзен
			li.social__item
				a.social-link.social-link--yt(href="https://www.youtube.com/@zapiski_verstalshika")
					span.visually-hidden ютуб

		p ©&nbsp;
			span.ryear 2023
