header.header(class=idPage == 'index' ? 'header--index' : '')
	.header__container.container

		nav.header__nav

			a.header__logo(href="/", aria-label="Записки верстальщика")
				svg(width="60", height="60", role="img", aria-label="Логотип Записки верстальщика")
					use(href="./img/sprite.svg#logo")
				span Записки верстальщика

			button#menubutton.header__nav-toggle.header__nav-toggle--close(type="button")
				span.visually-hidden Открыть меню

			ul#menu.header__list
				li.header__item
					+navLink('css', 'CSS')
				li.header__item
					+navLink('js', 'JS')
				li.header__item
					+navLink('svg', 'SVG')
				li.header__item
					+navLink('article', 'Статьи')
