section#svg
		.container
			h2
				a(href="#") svg

			+slider([
				[
					title = 'Текст градиентом',
					text = 'На днях мне пришлось верстать креатив в котором есть текст градиентом. Мне не часто приходится сталкиваться с такими вещами, по...',
					url = '#'
				],
				[
					title = 'Патерны в SVG',
					text = 'Вот как можно разукрасить SVG с помощью pattern. Сложного ничего нет. В svg в defs добавляем тэг pattern с необходимыми...',
					url = '#'
				]
			])
