section#article
		.container
			h2
				a(href="article/article/") Статьи
			.slider(aria-roledescription="carousel")

				ul.slider__list
					li.slider__item(aria-live="off", aria-roledescription="slide")
						.slider__content
							include ../article/article/colored_icons/card.pug
					li.slider__item(aria-live="off", aria-roledescription="slide")
						.slider__content
							include ../article/article/keyboard_shortcuts/card.pug
					li.slider__item(aria-live="off", aria-roledescription="slide")
						.slider__content
							include ../article/article/deployment_server/card.pug
					li.slider__item(aria-live="off", aria-roledescription="slide")
						.slider__content
							include ../article/article/deploy/card.pug
					li.slider__item(aria-live="off", aria-roledescription="slide")
						.slider__content
							include ../article/article/picture/card.pug
					li.slider__item(aria-live="off", aria-roledescription="slide")
						.slider__content
							include ../article/article/img_and_attributes/card.pug

				.slider__pagination-wrap
