section#svg
		.container
			h2
				a(href="article/svg/") svg

			+slider([
				[
					title = 'Текст градиентом',
					text = 'На днях мне пришлось верстать креатив в котором есть текст градиентом. Мне не часто приходится сталкиваться с такими вещами, по...',
					url = 'article/js/chips.html'
				],
				[
					title = 'Патерны в SVG',
					text = 'Вот как можно разукрасить SVG с помощью pattern. Сложного ничего нет. В svg в defs добавляем тэг pattern с необходимыми...',
					url = 'article/css/modal.html'
				]
			])
