section#css
		.container
			h2
				a(href="article/css/") css
			.slider(aria-roledescription="carousel")

				ul.slider__list
					li.slider__item(aria-live="off", aria-roledescription="slide")
						.slider__content
							include ../article/css/kot_murzik_na_css/card.pug

				.slider__pagination-wrap
