section#css
		.container
			h2
				a(href="article/css/") css

			+slider([
				[
					title = 'Анимированный кот без SVG.',
					text = 'Предисловие Для своего же сайта пишу шаблон, ну и в дальнейшем этот шаблон применю в wordpress. Дошло дело до страницы...',
					url = 'article/css/kot_murzik_na_css.html'
				],
				[
					title = 'Битая картинка',
					text = 'Как пердупердить битую картинку? Это баг или фича? Работает не на всех браузерах и скорее всего разработчики избавятся от этой...',
					url = 'article/css/broken-picture.html'
				],
				[
					title = 'Дождливое облачко',
					text = 'Демка одна из первых которую я сделал от нечего делать. Где то на просторах интернета встретил облачко такое и решил...',
					url = 'article/css/animation-cloud.html'
				],
				[
					title = 'С новым годом!',
					text = 'Небольшая ёлочка к наступающему 2019 му году)) Одна из первых моих демок на CSS с анимацией без использования JS-скриптов. Без...',
					url = 'article/css/happy-new-year.html'
				],
				[
					title = 'Медвежонок панда',
					text = 'Очень простая анимация написана CSS и HTML. С этой панды надумал делать разные демки подобного типа, а потом решил и...',
					url = 'article/css/panda_css_animacija.html'
				]
			])
