.slider(aria-roledescription="carousel")

	ul.slider__list
		li.slider__item(aria-live="off", aria-roledescription="slide")
			.slider__content
				h3 Заголовок 1
				p Всплывающие подсказки это небольшие окошки информирующие пользователя. Они могут быть разных цветов и сами удаляются через короткий промежуток времени. Цвета...
				a(href="#js") Подробнее
		li.slider__item(aria-live="off", aria-roledescription="slide")
			.slider__content
				h3 Заголовок 2
				p Что такое всплывающее модальное окно? Думаю проще разобраться если начать с простого: что такое всплывающее окно? Всплывающее окно это блок...
				a(href="#") Подробнее
		li.slider__item(aria-live="off", aria-roledescription="slide")
			.slider__content
				h3 Заголовок 3
				p Спойлер Кастонмый спойлер что это? Спойлер (с англ. — «to spoil», «портить») — преждевременно раскрытая важная сюжетная информация, которая разрушает задуманную авторами интригу,
				a(href="#") Подробнее
		li.slider__item(aria-live="off", aria-roledescription="slide")
			.slider__content
				h3 Заголовок 4
				p Спойлер Кастонмый спойлер что это? Спойлер (с англ. — «to spoil», «портить») — преждевременно раскрытая важная сюжетная информация, которая разрушает задуманную авторами интригу,
				a(href="#") Подробнее
	.slider__pagination-wrap
