section#article
		.container
			h2
				a(href="#") статьи

			+slider([
				[
					title = 'Picture – оптимизация графики',
					text = 'Тег picture достаточно интересная технология позволяющая упростить работу над проектом и оптимизировать сайт во время вёрстки не прибегая к другим,...',
					url = '#'
				]
			])
