section#js
		.container
			h2
				a(href="article/js/") JS
			.slider(aria-roledescription="carousel")

				ul.slider__list
					li.slider__item(aria-live="off", aria-roledescription="slide")
						.slider__content
							include ../article/js/chips/card.pug
					li.slider__item(aria-live="off", aria-roledescription="slide")
						.slider__content
							include ../article/js/starry_sky_canvas/card.pug
					li.slider__item(aria-live="off", aria-roledescription="slide")
						.slider__content
							include ../article/js/timer_snapsvg/card.pug
					li.slider__item(aria-live="off", aria-roledescription="slide")
						.slider__content
							include ../article/js/the_cat_follows_the_cursor/card.pug

				.slider__pagination-wrap

		a.go-bottom(href="#svg")
			.visually-hidden вниз
