section#js
		.container
			h2
				a(href="article/js/") JS
			.slider(aria-roledescription="carousel")

				ul.slider__list
					li.slider__item(aria-live="off", aria-roledescription="slide")
						.slider__content
							include ../article/js/chips/card.pug

				.slider__pagination-wrap
