.slider(aria-roledescription="carousel")

	ul.slider__list
		li.slider__item(aria-live="off", aria-roledescription="slide")
			.slider__content
				+articleCard('Заголовок 1', 'Всплывающие подсказки это небольшие окошки информирующие пользователя. Они могут быть разных цветов и сами удаляются через короткий промежуток времени. Цвета...', 'article/chips.html')
		li.slider__item(aria-live="off", aria-roledescription="slide")
			.slider__content
				+articleCard('Заголовок 2', 'Что такое всплывающее модальное окно? Думаю проще разобраться если начать с простого: что такое всплывающее окно? Всплывающее окно это блок...', 'article/chips.html')
		li.slider__item(aria-live="off", aria-roledescription="slide")
			.slider__content
				+articleCard('Заголовок 3', 'Спойлер Кастонмый спойлер что это? Спойлер (с англ. — «to spoil», «портить») — преждевременно раскрытая важная сюжетная информация, которая разрушает задуманную авторами интригу,...', 'article/chips.html')
		li.slider__item(aria-live="off", aria-roledescription="slide")
			.slider__content
				+articleCard('Заголовок 4', 'Спойлер Кастонмый спойлер что это? Спойлер (с англ. — «to spoil», «портить») — преждевременно раскрытая важная сюжетная информация, которая разрушает задуманную авторами интригу,', 'article/chips.html')
	.slider__pagination-wrap
