section#svg
		.container
			h2
				a(href="article/svg/") SVG
			.slider(aria-roledescription="carousel")

				ul.slider__list
					li.slider__item(aria-live="off", aria-roledescription="slide")
						.slider__content
							include ../article/svg/add_svg_to_page/card.pug
					li.slider__item(aria-live="off", aria-roledescription="slide")
						.slider__content
							include ../article/svg/gradient_text/card.pug
					li.slider__item(aria-live="off", aria-roledescription="slide")
						.slider__content
							include ../article/svg/patterns_in_svg/card.pug

				.slider__pagination-wrap

		a.go-bottom(href="#article")
			.visually-hidden вниз
