section#js
		.container
			h2
				a(href="article/js/") js

			+slider([
				[
					title = 'Всплывающие подсказки (chips/toast)',
					text = 'Всплывающие подсказки это небольшие окошки информирующие пользователя. Они могут быть разных цветов и сами удаляются через короткий промежуток времени. Цвета...',
					url = 'article/js/chips.html'
				],
				[
					title = 'Всплывающее модальное окно на чистом JavaScript',
					text = 'Что такое всплывающее модальное окно? Думаю проще разобраться если начать с простого: что такое всплывающее окно? Всплывающее окно это блок...',
					url = 'article/css/modal.html'
				],
				[
					title = 'Кастомный спойлер на HTML-5',
					text = 'Спойлер Кастонмый спойлер что это? Спойлер (с англ. — «to spoil», «портить») — преждевременно раскрытая важная сюжетная информация, которая разрушает задуманную авторами интригу, не даёт её пережить...',
					url = 'article/css/poppup-html5.html'
				],
				[
					title = 'Спойлер для сайта (аналог)',
					text = 'И я когда то был новичком… Первый мой спойлер был на html и css. Только в то время у меня...',
					url = 'article/css/poup.html'
				],
				[
					title = 'Анимированный кот без SVG.',
					text = 'Предисловие Для своего же сайта пишу шаблон, ну и в дальнейшем этот шаблон применю в wordpress. Дошло дело до страницы...',
					url = 'article/css/kot-murzik-na-css.html'
				]
			])
