section#css
		.container
			h2
				a(href="article/css/") css
			.slider(aria-roledescription="carousel")

				ul.slider__list
					li.slider__item(aria-live="off", aria-roledescription="slide")
						.slider__content
							include ../article/css/child_css_selector/card.pug
					li.slider__item(aria-live="off", aria-roledescription="slide")
						.slider__content
							include ../article/css/css_neighbor_selector/card.pug
					li.slider__item(aria-live="off", aria-roledescription="slide")
						.slider__content
							include ../article/css/fraternal_css_selector/card.pug
					li.slider__item(aria-live="off", aria-roledescription="slide")
						.slider__content
							include ../article/css/kot_murzik_na_css/card.pug

				.slider__pagination-wrap

		a.go-bottom(href="#js")
			.visually-hidden вниз
