block variables

<!DOCTYPE html>
html(lang="en")
	head
		//- удалить
		meta(name="robots", content="noindex")
		//- /удалить
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title #{pageTitle}
		meta(name="description", content=`${desc}`)

		if idPage == 'index'
			link(rel="stylesheet", href="styles/main.min.css")
		else
			link(rel="stylesheet", href="../styles/main.min.css")

	//- body.index.no-js
	body(class=idPage == 'index' ? 'no-js index' : 'no-js')
		if idPage == 'index'
			canvas#bg-canvas.bg-canvas

		include header.pug

		main
			block main

		include footer.pug

		if idPage == 'index'
			script(src="scripts/main.js")
		else
			script(src="../scripts/main.js")
