- var pageTitle = "Анимированный кот без SVG."
- var desc = 'Анимированный кот без использования svg. Большая часть анимации реализованна при помощи CSS, но движение глаз сделать без JS не получилось'

- var heading = 'Анимированный кот без SVG.'
- var idPage = 'kot_murzik_na_css'

- var group = 'css'

- var descCard = 'Для своего же сайта пишу шаблон, ну и в дальнейшем этот шаблон применю в wordpress. Дошло дело до страницы 404 и надо что то думать… В результате сделал анимированного «Мурзика» следящего за курсором.'
- var url = 'article/css/kot_murzik_na_css/'
- var date = '16.12.2019'
