- var pageTitle = "Селекторы в CSS."
- var desc = 'Данная статья скорее для новичков, но и в то же время может быть шпаргалкой для любого верстальщика. Для новичков она будет полезной, по тому что рассмотрю более редкие селекторы с полным разбором, а возможно и с примерами применений. Это не про псевдоклассы, а про нечто другое.'

- var heading = 'Селекторы в CSS.'
- var idPage = 'selector_css'

- var group = 'css'

- var descCard = 'Данная статья скорее для новичков, но и в то же время может быть шпаргалкой для любого верстальщика. Для новичков она будет полезной, по тому что...'
- var url = 'article/css/selector_css/'
- var date = '26.07.2022'
