extends ../../../templates/template.pug

block variables
	//- переменная для template.pug
	include var.pug

block main
	section
		.container
			h2 Вступление.
			p У меня уже есть видео которые помогут ускорить верстку на моём #[a(href="https://dzen.ru/zapiski_verstalshika", target="_blank", rel="noopener noreferrer") канале в дзен], которые помогут ускорить вёрстку проектов. Но ускорить работу за комьютером это не поможет)) В любой ОС есть так называемые горячие клавиши, которые значительно упрощают любую работу за ПК. Для примера начну с самого простого примера: копирование #[i #[small ctrl + c]] и вставка #[i #[small ctrl + v]]. Про эти клавиши я узнал очень давно, когда и не думал что смогу сам писать код для сайтов. Именно эти клавиши мне сохранили очень много времени: обычно нужно выделить текст, кликнуть правую клавишу мыши по выделенному тексту, выбрать нужный пункт меню в выпавшем списке контекстного меню. Каждый раз необходимо целиться куда кликнуть и можно промохнуться, особенно если вместо мышы тачпад. А с горячими клавишами достаточно кликнуть только на две кнопки клавиатуры... Кстати, копировать можно не только текст, но и практически любые файлы на вашем устройстве.
			p Далее буду писать горячие клавиши спском разделяя их группами. Сначала напишу те, которыми сам постоянно пользуюсь, а потом буду эти списки дополнять.
	section
		.container
			h2 #[i alt] + ...
			ul
				li #[i alt]: зажав эту клавишу легко выделить текст ссылки
				li #[i alt] и двойной клик по файлу/папке вызовет свойства файла по которому кликнули
				li #[i alt + tab]: меняет открытые окна. Если вам необходимо открыть окно программы, то нет необходимости возить курсор мыши по всему дисплею, #[i alt + tab] быстро поможет вывести открытое окно.
			p Горячие клавиши в моём редакторе. #[sup *]
			ul
				li зажав #[i alt] и кликнув по ссылке открывается ссылка в браузере, а если кликнуть на путь к файлу, зажав #[i alt], редактор откроет этот файл
				li если выделить несколько строк и зажав #[i alt] кликать на стрелки #[i верх] или  #[i низ] то строки начнут перемещаться
	section
		.container
			h2 #[i ctrl] + ...
			ul
				li #[i ctrl] и двойной клик по папке откроет папку в новом окне
				li #[i ctrl] и один клик по файлу/папке выделит или снимет выделение файла/папки
				li #[i ctrl + tab]: переключает вкладки браузера, некоторых текстовых редакторов, например VS Code
				li #[i ctrl + c]: копирование текста/файла/папки #[sup **]
				li #[i ctrl + x]: вырезание текста/файла/папки #[sup **]
				li #[i ctrl + v]: вставка текста/файла/папки #[sup **]
				li #[i ctrl + &lt;], #[i ctrl + &gt;]: в некоторых программах, а иногда и на сайтах, если есть несколько страниц, то можно между ними переключаться этимим сочетаниями клавиш. #[small одно время такая комбинация работала в результатах выдачи поиска Яндекса]
				li #[i ctrl + n]: новое окно, например в браузере, а в редакторе новая вкладка
				li #[i ctrl + shift + n]: новое окно в браузере в режиме инкогнито, а в редакторе новое окно
			p Горячие клавиши в моём редакторе. #[sup ***]
			ul
				li #[i ctrl] позволяет делать мульти курсор
					figure
						video(playsinline='playsinline', controls, poster='img/article/keyboard_shortcuts/poster-1.webp', width='480', height='328', preload='metadata', loop)
							source(src='video/keyboard_shortcuts/video-1.webm', type='video/webm')
							source(src='video/keyboard_shortcuts/video-1.mp4', type='video/mp4')
						figcaption Пример работы мультикурсора
	section
		.container
			h2
				include ../../../../img/article/keyboard_shortcuts/windows-icon.svg
				|#[i windows] + ...
			ul
				li #[i windows] и стрелки позволяет легко активное окно перенести в любую часть дисплея или даже свернуть.
				li #[i windows + e] открывает проводник
				li #[i windows + tab] переключает рабочие столы



	section
		.container
			h2 Сноски
			p #[small #[sup *] Причем в зависимости от настроек, у вас может это работать с клавишей #[i ctrl]]
			p #[small #[sup **] Не стоит забывать что текст должен быть написан в текстовом редакторе или в любой программе в поле где есть возможность редактировать текст. При этом подобные действия с паролями иногда не работают. То есть пароль не всегда можно скопировать, вырезать или вставить.]
			p #[small #[sup ***] Причем в зависимости от настроек, у вас может это работать с клавишей #[i alt]]


			//- figure
			//- 	picture
			//- 		source(srcset="img/article/keyboard_shortcuts/img-1.avif", type="image/avif")
			//- 		source(srcset="img/article/keyboard_shortcuts/img-1.webp", type="image/webp")
			//- 		img(src="img/article/keyboard_shortcuts/img-1.jpg", alt="скрин со страници настроек репозитория github с подсказками", width="820", height="418", loading="lazy")
			//- 	figcaption Скрин с подсказками

			//- +codeBlock('', '')
			//- +codeBlock('', '')
			//- +codeBlock('', '')
			//- +codeBlock('', '')
