- var pageTitle = 'Горячие клавиши в виндовс.'
- var desc = 'Горячие клавиши в виндовс.'

- var heading = 'Горячие клавиши в виндовс.'
- var idPage = 'keyboard_shortcuts'

- var group = 'article'
- var nameGroup = 'Статьи';

- var descCard = 'У меня уже есть видео которые помогут ускорить верстку на моём канале в дзен, которые помогут ускорить вёрстку проектов. Но ускорить...'
- var url = 'article/article/keyboard_shortcuts/'
- var date = '02.04.2023'
