- var pageTitle = "Background — фон для сайта"
- var desc = 'Практически у каждого сайта есть элементы с фоном: вся страница, отдельные блоки, кнопки, иконки многое другое. Но на самом деле это свойство скрывает большие возможности.'
- var keywords = "background-color, currentColor, background-image, background-repeat, background-position, background-size"

- var heading = 'Фон для сайта'
- var idPage = 'background'

- var group = 'css'
- var nameGroup = 'CSS';

- var descCard = 'Практически у каждого сайта есть элементы с фоном: вся страница, отдельные блоки, кнопки, иконки многое другое. Но на самом деле это ...'
- var url = 'article/css/background/'
- var date = '02.07.2023'
