- var pageTitle = "CSS counter, кастомный упорядоченный список"
- var desc = 'Стилизация упорядоченных списков припомощи CSS counter и CSS counters.'
- var keywords = "css counter, counter-reset, counter-increment, кастомный список"

- var heading = 'CSS counter.'
- var idPage = 'css_counter'

- var group = 'css'
- var nameGroup = 'CSS';

- var descCard = 'Как стилизовать упорядоченные списки? Как добавить ведущий ноль утакого списка? Что делать если у вас вложенный список? Самый простой...'
- var url = 'article/css/css_counter/'
- var date = '16.05.2023'
