- var pageTitle = "Текст градиентом."
- var desc = 'Как сделать на сайте текст с градиентным цветом и тенью? Есть несколько способов, о которых я расскажу.'

- var heading = 'Текст градиентом.'
- var idPage = 'gradient_text'

- var group = 'svg'
- var nameGroup = 'SVG';

- var descCard = 'На днях мне пришлось верстать креатив в котором есть текст градиентом. Мне не часто приходится сталкиваться с такими вещами, по этому пришлось...'
- var url = 'article/svg/gradient_text/'
- var date = '17.01.2021'
