- var pageTitle = "Чипсы - плагин всплывающих подсказок."
- var desc = 'Небольшой плагин всплывающих подсказок, или "чипсов". В коде используются приёмы и технологии для удобного использования как кода разработчиком, так и визуально пользователем.'

- var heading = 'Плагин всплывающих подсказок.'
- var idPage = 'chips'

- var group = 'js'
- var nameGroup = 'JS';

- var descCard = 'Небольшой плагин всплывающих подсказок, или "чипсов". В коде используются приёмы и технологии для удобного использования как кода разработчиком,...'
- var url = 'article/js/chips/'
- var date = '05.07.2021'
