block variables
	- var idPage = 404
	- var group = 'other'
	- var nameGroup = '404'

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		link(rel='icon' type='image/png' sizes='16x16' href='https://uzinok.ru/img/favicon/favicon-16x16.png')

		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Ошибка 404 - нет такой страницы

		link(rel="stylesheet", href='https://uzinok.ru/styles/main.min.css')
	body
		include ../templates/mixin.pug
		include ../templates/header.pug
		main
			+mainHeader('Ошибка 404 - нет такой страницы', '', 'other')
			.container
				.cat(role="img", aria-label='Схематичное изображение морды кота' )
					.cat__head
						.ear.ear--left
						.ear.ear--right
						.eye.eye--left
							.eyeball
						.eye.eye--right
							.eyeball
						.nose
						.moustache.moustache--left
						.moustache.moustache--right
						.mouth
						style
							| .ear {border: 60px solid transparent;box-shadow: 0 0 0px 3px #000000;border-radius: 190% 0 25% 36%;transform: rotate(140deg);position: absolute;top: -26px;z-index: -1;}.ear--left {left: 17px;transform: rotate(220deg) scale(-1, 1);}.ear--right {right: 17px;}.cat {margin: 0 auto;}.cat__head {position: relative;margin: 90px auto 0;width: 290px;height: 240px;border: 3px solid #000000;background-color: #ffffff;border-radius: 50%;box-sizing: border-box;}.eye {width: 80px;height: 70px;border-radius: 50%;border: 2px solid #000000;position: absolute;top: 60px;overflow: hidden;}.eye--left {left: 50px;}.eye--right {right: 50px;}.eyeball {width: 10px;height: 60px;border-radius: 50%;background-color: #000000;position: absolute;top: 5px;left: 35px;}.moustache {position: absolute;top: 70%;nbackground-color: #000000;width: 6px;height: 6px;border-radius: 50%;}.moustache--left {left: 70px;}.moustache--right {right: 70px;}.moustache::before, .moustache::after {content: "";display: block;background-color: #000000;width: 6px;height: 6px;border-radius: 50%;position: absolute;top: 20px;}.moustache::before {left: 10px;}.moustache::after {right: 10px;}.nose {position: absolute;top: 61%;left: 50%;border: 10px solid transparent;border-top-color: #000;border-left-color: #000;transform: translateX(-50%) rotate(45deg);border-radius: 32% 45% 0% 45%;}.mouth {width: 70px;height: 40px;border: 3px solid transparent;border-bottom: 4px solid #000000 !important;border-radius: 50%;position: absolute;left: 50%;bottom: 5%;transform: translateX(-50%);}@keyframes animate-ear {0% {transform: scale(1, 1) rotate(140deg);}36% {transform: scale(1, 1) rotate(140deg);}38% {transform: scale(1, 0) rotate(140deg);}42% {transform: scale(1, 0) rotate(140deg);}44% {transform: scale(1, 1) rotate(140deg);}100% {transform: scale(1, 1) rotate(140deg);}}@keyframes animate-eye {0% {transform: scale(1, 1);}37% {transform: scale(1, 1);}40% {transform: scale(1, 0.02);}43% {transform: scale(1, 1);}100% {transform: scale(1, 1);}}.ear--right{ animation: animate-ear 4s;animation-iteration-count: infinite;transform-origin: center;}.eye--right{animation: animate-eye 7s;animation-iteration-count: infinite;transform-origin: center;}
						script
							| let eyeball=document.getElementsByClassName("eyeball"),y_eyeball=[],x_eyeball=[];for(let e=0;e<2;e++){let l=eyeball[e].getBoundingClientRect();y_eyeball.push(l.top+pageYOffset),x_eyeball.push(l.left+pageXOffset)}function setCoords(e,l,t,a){x=e.pageX,y=e.pageY,x=(x-t)/40,y=(y-a)/40;let s="translate("+x+"px,"+y+"px)";l.style.transform=s}document.addEventListener("mousemove",function(){for(let e=0;e<2;e++)setCoords(event,eyeball[e],x_eyeball[e],y_eyeball[e])});










		include ../templates/footer.pug
