- var pageTitle = "Котик на SVG следящий за курсором."
- var desc = 'Кот нарисованный на svg и анимированый с помощью css3 и JavaScript'

- var heading = 'Котик на SVG следящий за курсором.'
- var idPage = 'the_cat_follows_the_cursor'

- var group = 'js'
- var nameGroup = 'JS';

- var descCard = 'Поводи курсором возле кота Код очень старый, до 2018го года)) не судите строго)) HTML <script type="text/javascript" src="https://releases...'
- var url = 'article/js/the_cat_follows_the_cursor/'
- var date = ''
