extends templates/template.pug

block variables
	//- переменная для template.pug
	- var pageTitle = "Записки верстальщика"
	- var desc = 'Сбор шпаргалок, и некоторых редких свойств'
	- var idPage = 'index'


block main
