extends templates/template.pug
include templates/mixin.pug

block variables
	//- переменная для template.pug
	- var pageTitle = "Записки верстальщика"
	- var desc = 'Сбор шпаргалок, и некоторых редких свойств'
	- var idPage = 'index'
	- var keywords = 'вёрстка сайтов, адаптивная вёрстка'


block main
	section.top.top--after
		.top__container.container
			h1
				a.logo(href="/", aria-current="page")
					svg(role="img", aria-label="Записки верстальщика", width="100", height="100")
						use(href="img/sprite.svg#logo-light")
				| Записки верстальщика&ensp;
				span Собрание демок и фич для верстальщиков

	include templates/index-css.pug
	include templates/index-js.pug
	include templates/index-svg.pug
	include templates/index-article.pug
	include templates/index-demo.pug
