extends ../../templates/template.pug

block variables
	//- переменная для template.pug
	- var pageTitle = 'Архивы "Статьи"'
	- var desc = 'Тут можно найти статьи на разные темы.'
	- var heading = 'Статьи.'
	- var idPage = 'article'
	- var group = 'other'
	- var nameGroup = 'Статьи';

block main
	.container.container--group
		h2.visually-hidden Статьи
		include deploy/card.pug
		include picture/card.pug
		include img_and_attributes/card.pug
