extends ../../templates/template.pug

block variables
	//- переменная для template.pug
	- var pageTitle = "Архивы JS"
	- var desc = 'Небольшой сборник JS демок. Представленный код в основном работает во всех браузерах. Это не готовый код, но его можно использовать для любых целей.'
	- var heading = 'Архивы JS'
	- var subHeading = 'Небольшой сборник JS демок. Представленный код в основном работает во всех браузерах. Это не готовый код, но его можно использовать для любых целей.'
	- var idPage = 'js'
	- var group = 'other'
	- var nameGroup = 'JS';


block main
	.container.container--group
		include chips/card.pug
		include timer_snapsvg/card.pug
		include the_cat_follows_the_cursor/card.pug
