- var pageTitle = "Кастомный спойлер на HTML-5."
- var desc = 'используя тег details можно легко сделать спойлер. а JavaScript его анимирует и запустит спойлер на старых браузерах'

- var heading = 'Кастомный спойлер на HTML-5.'
- var idPage = 'custom_spoiler_html5'

- var group = 'js'
- var nameGroup = 'JS';

- var descCard = 'Кастонмый спойлер что это? Спойлер (с англ. — «to spoil», «портить») — преждевременно раскрытая важная сюжетная информация, которая разрушает...'
- var url = 'article/js/custom_spoiler_html5/'
- var date = '29.07.2020'
