- var pageTitle = "Звездное небо на canvas."
- var desc = 'Относительно небольшой JavaScript код для отрисовки звездного неба на canvas'

- var heading = 'Звездное небо на canvas.'
- var idPage = 'starry_sky_canvas'

- var group = 'js'
- var nameGroup = 'JS';

- var descCard = 'Нет на свете мук, есть задачи и решения. Решил сделать для себя сайт. подготовил шаблон и почти начал его верстать… Почему почти? Да просто на ...'
- var url = 'article/js/starry_sky_canvas/'
- var date = '11.09.2019'
