- var pageTitle = "Звездное небо на canvas."
- var desc = 'Относительно небольшой JavaScript код для отрисовки звездного неба на canvas'

- var heading = 'Звездное небо на canvas.'
- var idPage = 'starry_sky_canvas'

- var group = 'js'
- var nameGroup = 'JS';

- var descCard = 'Нет на свете проблем, есть задачи и вопросы. Решил сделать для себя сайт, а на главной нужно было сделать звёздное небо. Как-то скучно было брать...'
- var url = 'article/js/starry_sky_canvas/'
- var date = '11.09.2019'
