- var pageTitle = "Патерны в SVG."
- var desc = 'Кот нарисованный на svg и анимированый с помощью css3'

- var heading = 'Милый котик на SVG.'
- var idPage = 'сute_cat_on_svg'

- var group = 'svg'
- var nameGroup = 'SVG';

- var descCard = 'Мой первый рисунок на SVG. Он конечно очень простой, но это первый рисунок который я сам нарисовал на SVG и анимировал с помощью CSS, а в ...'
- var url = 'article/svg/сute_cat_on_svg/'
- var date = ''
