- var pageTitle = "Как на сайт добавить svg."
- var desc = 'Способы добавления svg на страницу сайта.'

- var heading = 'Как добавить SVG на страницу правильно?'
- var idPage = 'add_svg_to_page'

- var group = 'svg'
- var nameGroup = 'SVG';

- var descCard = 'Всем привет, недавно задумался, а как же лучше подключить вектор на страницу? Вспомнил четыре способа и сейчас расскажу о них. У каждого способа ...'
- var url = 'article/svg/add_svg_to_page/'
- var date = '20.05.2021'
