- var pageTitle = "Селекторы по атрибутам."
- var desc = 'CSS селекторы поторые выберают элемент по атрибутам: по их наличаю, значению или какой-то части значения'

- var heading = 'Селекторы по атрибутам.'
- var idPage = 'css_attribute_selectors'

- var group = 'css'
- var nameGroup = 'CSS';

- var descCard = '«Селекторы по атрибутам» это довольно интересная тема, которая открывает кучу возможностей во время верстки макета. Некоторые из таких ...'
- var url = 'article/css/css_attribute_selectors/'
- var date = '06.12.2022'
