extends ../../templates/template.pug

block variables
	//- переменная для template.pug
	- var pageTitle = "Архивы CSS"
	- var desc = 'Небольшой сборник CSS демок, в основном анимации. Представленный код без префиксов, но в основном работает во всех браузерах. Это не готовый код, но его можно использовать для любых целей.'
	- var heading = 'Архивы CSS'
	- var subHeading = 'Небольшой сборник CSS демок, в основном анимации. Представленный код без префиксов, но в основном работает во всех браузерах. Это не готовый код, но его можно использовать для любых целей.'
	- var idPage = 'css'
	- var group = 'other'
	- var nameGroup = 'CSS';


block main
	.container.container--group
		include child_css_selector/card.pug
		include css_neighbor_selector/card.pug
		include fraternal_css_selector/card.pug
		include kot_murzik_na_css/card.pug
