extends ../../templates/template.pug

block variables
	//- переменная для template.pug
	- var pageTitle = "Анимированный кот без SVG."
	- var desc = 'Всплывающие подсказки это небольшие окошки информирующие пользователя. Они могут быть разных цветов и сами удаляются через короткий промежуток времени. Цвета...'
	- var heading = 'Анимированный кот без SVG.'
	- var idPage = 'kot_murzik_na_css'
	- var group = 'css'
	- var descCard = 'Всплывающие подсказки это небольшие окошки информирующие пользователя. Они могут быть разных цветов и сами удаляются через короткий промежуток времени. Цвета...'
	- var file = 'css.html'


block main
	section
		.container

			h2 Предисловие

			p Для своего же сайта пишу шаблон, ну и в дальнейшем этот шаблон применю в wordpress. Дошло дело до страницы 404 и надо что то думать… В результате сделал анимированного «Мурзика» следящего за курсором.

			figure
				img(src="img/article/1.webp", alt="Анимированный кот на CSS")
				figcaption Пример кота

			p Я как то уже делал котика следящего за курсором, но для страницы 404 хотелось чего нибудь посветлее, по этому нужно было на SVG нарисовать другого котика. На тот момент у меня не было подходящей программы под рукой, но на одном из стримов на youtube.com я случайным образом нарисовал котика на чиcтом HTML и CSS. Вот и появилась возможность сделать Мурзика с анимацией.

			+codeBlock('html', '<div class="bolt-chips-wrap">\n    Экс-граф? Плюш изъят. Бьём чуждый цен хвощ!\n  </div>\n  <!-- ... -->\n</div>')
