- var pageTitle = "Выпадающее меню."
- var desc = 'Простое выпадающее меню на чистом CSS.'

- var heading = 'Выпадающее меню.'
- var idPage = 'drop-down_menu'

- var group = 'demo'
- var nameGroup = 'DEMO';

- var descCard = 'Простое выпадающее меню на чистом CSS...'
- var url = 'article/demo/drop-down_menu/'
- var date = '09.07.2023'
