- var pageTitle = 'Тэг <img> и его атрибуты'
- var desc = 'Вся важная графика это тег img. Это довольно простой, и в то же самое время сложный элемент. В верстке играет важную роль.'

- var heading = 'Тэг <img> и его атрибуты.'
- var idPage = 'img_and_attributes'

- var group = 'article'
- var nameGroup = 'Статьи';

- var descCard = 'Тег img это довольно простой, и в то же самое время сложный элемент. В верстке играет важную роль. Вся важная графика (например ...'
- var url = 'article/article/img_and_attributes/'
- var date = '25.11.2022'
