- var pageTitle = "Смена цвета картинки."
- var desc = 'При помощи css filter и js смена цвета картинки.'

- var heading = 'Смена цвета картинки.'
- var idPage = 'css_filter_color'

- var group = 'demo'
- var nameGroup = 'DEMO';

- var descCard = 'При помощи css filter и js смена цвета картинки...'
- var url = 'article/demo/css_filter_color/'
- var date = '03.07.2023'
