extends ../../templates/template.pug

block variables
	//- переменная для template.pug
	- var pageTitle = "Архивы CSS"
	- var desc = 'Небольшой сборник CSS демок, в основном анимации. Представленный код без префиксов, но в основном работает во всех браузерах. Это не готовый код, но его можно использовать для любых целей.'
	- var heading = 'Архивы CSS'
	- var subHeading = 'Небольшой сборник CSS демок, в основном анимации. Представленный код без префиксов, но в основном работает во всех браузерах. Это не готовый код, но его можно использовать для любых целей.'
	- var idPage = 'css'
	- var group = 'other'


block main
	.container.container--group
		+articleCard('Заголовок 1', 'Всплывающие подсказки это небольшие окошки информирующие пользователя. Они могут быть разных цветов и сами удаляются через короткий промежуток времени. Цвета...', 'article/css/chips.html', '22.03.2023')

		+articleCard('Заголовок 2', 'Что такое всплывающее модальное окно? Думаю проще разобраться если начать с простого: что такое всплывающее окно? Всплывающее окно это блок...', 'article/css/chips.html')

		+articleCard('Заголовок 3', 'Спойлер Кастонмый спойлер что это? Спойлер (с англ. — «to spoil», «портить») — преждевременно раскрытая важная сюжетная информация, которая разрушает задуманную авторами интригу,...', 'article/css/chips.html')

		+articleCard('Заголовок 4', 'Спойлер Кастонмый спойлер что это? Спойлер (с англ. — «to spoil», «портить») — преждевременно раскрытая важная сюжетная информация, которая разрушает задуманную авторами интригу,', 'article/css/chips.html')
