extends ../../../templates/template.pug

block variables
	//- переменная для template.pug
	include var.pug

block main
	section
		.container
			h2 Вступление

			p Всем привет! Относительно недавно я захотел один из проектов выложить на GitHub Pages. Сначала пошел на ютуб, потом несколько статей прочел, не найдя нужного начал изучать сам гитхаб. Нашел два способа для реализации этого желания.
			p Первый способ – быстрый, но с одним минусом: в репозитории остаётся сама сборка. Но она имеет место быть в том случае если простая верстка без сборщика: то есть в самом репозитории есть готовый html, css и прочие файлы.
			p Второй способ подходит если у вас какой-то сборщик, в моём случае будет галп. Найдя второй способ, не стал сразу записывать видео так как не был уверен что всё ок. Но недавно у коллеги увидел статью с этим способом и решил вам показать его.

	section
		.container
			h2 Начну с более простого/быстрого способа.

			p Сейчас не буду описывать как создать новый репозиторий (есть в <a href="#video">видео</a>), но создавая его обязательно проследите что-бы он был публичным.
			p Когда в репозитории есть готовая вёрстка - можно приступать к работе для этого необходимо зайти в настройки и выбрать вкладку <i>page</i>. В соурсе выбираем гитхаб акшенс.

			figure
				picture
					source(srcset="img/article/deploy/deploy.avif", type="image/avif")
					source(srcset="img/article/deploy/deploy.webp", type="image/webp")
					img(src="img/article/deploy/deploy.jpg", alt="скрин со страници настроек репозитория github с подсказками")
				figcaption Скрин с подсказками



			//- +codeBlock('', '')
