- var pageTitle = 'Архивы "Статьи"'
- var desc = 'Тут можно найти статьи на разные темы.'

- var heading = 'Статьи на разные темы.'
- var idPage = 'deploy'

- var group = 'article'

- var descCard = 'Небольшой плагин всплывающих подсказок, или "чипсов". В коде используются приёмы и технологии для удобного использования как кода разработчиком,...'
- var url = 'article/article/deploy/'
- var date = '02.04.2023'
