- var pageTitle = 'Деплой сайта в gh-pages'
- var desc = 'Публикация сайта в github pages используя github pages двумя способами.'

- var heading = 'Деплой сайта на гитхабе.'
- var idPage = 'deploy'

- var group = 'article'
- var nameGroup = 'Статьи';

- var descCard = 'Всем привет! Относительно недавно я захотел один из проектов выложить на GitHub Pages. Сначала пошел на ютуб, потом несколько...'
- var url = 'article/article/deploy/'
- var date = '02.04.2023'
