extends ../../../templates/template.pug

block variables
	//- переменная для template.pug
	include var.pug

block main
	section
		.container
			h2.visually-hidden Вступление
			p Что такое всплывающее модальное окно? Думаю проще разобраться если начать с простого: что такое всплывающее окно? Всплывающее окно это блок который появляется на странице поверх других элементов. Этот блок содержит в себе информацию и/или интерактивные элементы. Еще у этого блока есть возможность его же закрыть.
			p А что же такое модальное окно? Это такое же всплывающее окно, только еще не допускает действия со страницей. То есть до закрытия модального окна на странице нельзя взаимодействовать с интерактивными элементами, нельзя прокрутить страницу.
	section
		.container
			h2 Как сделать всплывающее модальное окно?
			p Есть куча всяких библиотек и плагинов для этого. Но как я замечаю у многих из них есть список недостатков.
			ol
				li Часто страдает доступность:
					ol
						li Маленькая кнопка «закрыть окно»
						li Неправильно оформлена кнопка «закрыть окно»
						li Нет возможности закрыть окно клавишей «esc»
						li При закрытом окне есть доступ с клавиатуры интерактивным элементам окна
						li При открытом окне есть доступ к интерактивным элементам страницы
						li При открытом окне есть скролл у страницы
						li После закрытия модального окна теряется кнопка по которой открыли окно.
				li Визуальные погрешности:
					ol
						li Не всегда есть подложка (или overlay)
						li Часто нет анимации появления окна
				li Производительность часто страдает
					ol
						li После закрытия окна JavaScript прослушивает события (клавиатуры и/или мыши)
			p У каждого элемента списка есть свои последствия. Но можно и самому написать небольшой скрипт для всплывающего модального окна. Без JavaScript тут не обойтись!
	section
		.container
			h2 Как я писал код.
			p Я давно думал написать код модального окна, но не знал какие моменты нужно учитывать. Просмотрел кучу видео, прочел множество статей на эту тему. Больше всего мне понравилось видео на ютубе #[a(href="https://www.youtube.com/watch?v=s6PI8pKQxgo&t=8s", target="_blank", rel="noreferrer noopener") Знакомьтесь, модальное окно, Анна Селезнёва]. Можно сказать что по этому видео я и писал код.
			p Получилось довольно хорошо. И я пользовался им какое-то время, пока не заметил один небольшой вопрос. Этот вопрос заключался в производительности. Код я написал таким образом что его можно обновить и ничего не поломается.
	section
		.container
			h2 Код.
			p Для того что бы написать свой плагин модального всплывающего окна я действовал от простого. Для начала написал HTML разметку.
		section
			.container
				h2 HTML.
				+codeBlock('HTML', '<!-- код -->\n<button class="btn" dada-target-popup="popup-1">открыть окно 1</button>\n<!-- код -->\n<div aria-lebelledby="modalTitle" aria-describedby="modalDesc" class="bolt-popup" role="dialog" dada-path-popup="popup-1">\n\n  <div class="bolt-popup__container">\n    <button class="bolt-popup__close" aria-label="Close"></button>\n    <h2 id="modalTitle">Это заголовок окна</h2>\n    <p id="modalDesc">Подъехал <span tabindex="2">шофёр</span> на рефрижераторе грузить яйца для обучающихся элитных\n      медиков.</p>\n  </div>\n</div>\n<!-- код -->')
				p У моего кода много атрибутов, но это не просто так! #[code Aria-lebelledby] и #[code aria-describedby] — это заголовок и описание для некоторых скрин-ридеров. #[code role="dialog"] сообщает скрин-ридерам и поисковикам что этот контент ведет себя на странице как модальное окно. Кстати, есть такой тэг #[code dialog]. #[code data-path-popup] это уже мой атрибут, который свяжет модальное окно с кнопкой(если оно есть). Соответственно у кнопки тоже есть атрибут #[code data-target-popup].


			//- +codeBlock('', '')
			//- +codeBlock('', '')
			//- +codeBlock('', '')
			//- +codeBlock('', '')
			//- +codeBlock('', '')
			//- +codeBlock('', '')
