- var pageTitle = "Всплывающее модальное окно на чистом JavaScript."
- var desc = 'Код всплывающего модального окна, учитывающий средства доступности и удобства при использовании пользователем.'

- var heading = 'Модальное окно.'
- var idPage = 'modal_window'

- var group = 'js'
- var nameGroup = 'JS';

- var descCard = 'Что такое всплывающее модальное окно? Думаю проще разобраться если начать с простого: что такое всплывающее окно? Всплывающее окно это блок который...'
- var url = 'article/js/modal_window/'
- var date = '27.06.2021'
