extends ../../../templates/template.pug

block variables
	//- переменная для template.pug
	include var.pug

block main
	section
		.container
			h2.visually-hidden Вступление.
			p Привет!) Статья скорее для студентов: Расскажу как добавить на страницу сайта иконку не добавляя её в html, и как быть если нужно поменять или скрыть часть svg иконки.
			p Кто-то предлагает использовать шрифтовые иконки, что не очень хорошо #[small (не буду перечислять минусы)]. А я покажу другие способы.
	section
		.container
			h2 CSS маски
			p #[code mask-image] поддерживается довольно хорошо, но лучше проверить на сервисе #[a(href="https://caniuse.com/?search=mask-image", target="_blank", rel="noopener noreferrer") caniuse.com].
			figure
				picture
					source(srcset="img/article/colored_icons/img-1.avif", type="image/avif")
					source(srcset="img/article/colored_icons/img-1.webp", type="image/webp")
					img(src="img/article/colored_icons/img-1.jpg", alt="скрин со страници caniuse.com", width="820", height="282", loading="lazy")
				figcaption Поддержка браузерами свойства #[code mask-image] 96.83%
			p Покажу на примере ссылки, так как там есть один небольшой нюанс.
			p Нашел такой вектор батарейку
				svg(width="25", height="25", viewBox="0 0 32 32", xmlns="http://www.w3.org/2000/svg", style="margin:0 5px;display:inline-block;vertical-align:middle;", aria-hidden="true", focusable="false")
					path(d="M0 20q0 2.5 1.76 4.26t4.26 1.76H24q2.5 0 4.26-1.76T30.02 20H32v-8h-1.98q0-2.46-1.76-4.22T24 6.02H6.02q-2.5 0-4.26 1.76T0 12v8zm4 0v-8q0-.83.58-1.4t1.44-.58H24q.83 0 1.4.57t.62 1.41v8q0 .83-.61 1.44t-1.41.58H6.02q-.84 0-1.44-.58T4 20zm2.02 0H8v-8H6.02v8zm4 0H12v-8h-1.98v8zm4 0H16v-8h-1.98v8z")
				|:
			+codeBlock('svg', '<svg width="800" height="800" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">\n <path d="M0 20q0 2.5 1.76 4.26t4.26 1.76H24q2.5 0 4.26-1.76T30.02 20H32v-8h-1.98q0-2.46-1.76-4.22T24 6.02H6.02q-2.5 0-4.26 1.76T0 12v8zm4 0v-8q0-.83.58-1.4t1.44-.58H24q.83 0 1.4.57t.62 1.41v8q0 .83-.61 1.44t-1.41.58H6.02q-.84 0-1.44-.58T4 20zm2.02 0H8v-8H6.02v8zm4 0H12v-8h-1.98v8zm4 0H16v-8h-1.98v8z"/>\n</svg>')
			p Ну и прописываю ссылку в html:
			+codeBlock('html', '<a href="#" class="battery">\n  <span class="visually-hidden">уровень заряда батареи</span>\n</a>')
			p Перехожу к стилям:
			+codeBlock('css', `.battery {\n  display: inline-block; /* для рамеров */\n  width: 40px;\n  height: 40px;\n  background-color: rgb(60, 153, 60); /* фоновый цвет, что-бы было видно работу маски */\n  mask-image: url(../img/battery.svg); /* маска */\n  mask-size: 40px 40px; /* размер маски */\n}\n\n.visually-hidden {\n  /* скрываем подпись доступности */\n  position: absolute;\n  width: 0;\n  height: 0;\n  margin: 0;\n  padding: 0;\n  overflow: hidden;\n  border: none;\n}`)
			p И каков результат? Если вы используете #[i Firefox] то увидите батарейку зелёного цвета, а если другой браузер, то, скорее всего, увидите зелёный прямоугольник.
			figure
				a(href="https://uzinok.ru/article/article/colored_icons/#", style="display:inline-block;width:40px;height:40px;background-color:rgb(60, 153, 60);mask-image:url(img/article/colored_icons/battery.svg);mask-size:40px 40px;")
					span.visually-hidden уровень заряда батареи
				figcaption Так выглядит работа текущего кода в вашем браузере
			p Для того, что бы правильно отображалась иконка в хроме, достаточно добавить префикс #[code -webkit-]. Так как у мозилы для #[code mask-image] есть псевдоним #[code -webkit-mask-image], то если вы верстаете без префиксера, то можно написать только с префиксами, ну а если у вас сборщик, то и не нужно думать о префиксах))
			+codeBlock('css', '.battery {\n  display: inline-block; /* для рамеров */\n  width: 40px;\n  height: 40px;\n  background-color: rgb(60, 153, 60); /* фоновый цвет, что-бы было видно работу маски */\n  -webkit-mask-image: url(../img/battery.svg); /* маска */\n  -webkit-mask-size: 40px 40px; /* размер маски */\n}')
			figure
				a(href="https://uzinok.ru/article/article/colored_icons/#", style="display:inline-block;width:40px;height:40px;background-color:rgb(60, 153, 60);-webkit-mask-image:url(img/article/colored_icons/battery.svg);-webkit-mask-size:40px 40px;")
					span.visually-hidden уровень заряда батареи
				figcaption Теперь, скорее всего, у вас отображается иконка батарейки.
			p При необходимости можно поменять цвет иконки, например при наведении на ссылку, поменяв её фоновый цвет. Но тут есть один неприятный момент: при попадании в фокус не отображается оутлайн. Это логично: маска просто обрезает всё кроме мест где картинка маски закрашена. Для решения этого вопроса достаточно внутри ссылки добавить псевдоэлемент, и ему добавить маску.
			figure
				picture
					source(srcset="img/article/colored_icons/img-2.avif", type="image/avif")
					source(srcset="img/article/colored_icons/img-2.webp", type="image/webp")
					img(src="img/article/colored_icons/img-2.png", alt="Слева как выглядит иконка в браузере, справа html код картинки", width="820", height="394", loading="lazy")
				figcaption На картинке видно что нет браузерной рамки у ссылки с иконкой.
			p Добавлю изменение цвета иконки сразу, и получаю такой код:
			+codeBlock('css', `.battery {\n display: inline-block; /* для рамеров */\n  width: 40px;\n  height: 40px;\n}\n\n.battery::before {\n  content: '';\n  display: inline-block; /* для рамеров */\n  width: 40px;\n  height: 40px;\n  background-color: #3c993c; /* фоновый цвет, что-бы было видно работу маски */\n  -webkit-mask-image: url(../img/battery.svg); /* маска */\n  -webkit-mask-size: 40px 40px; /* размер маски */\n}\n\n.battery:hover::before {\n	background-color: #ff6347;\n}`)
			figure
				a.battery(href="https://uzinok.ru/article/article/colored_icons/#")
					span.visually-hidden уровень заряда батареи
					style .battery{display:inline-block;width:40px;height:40px;}.battery::before {content:'';display:inline-block;width:40px;height:40px;background-color:#3c993c;-webkit-mask-image:url(img/article/colored_icons/battery.svg);-webkit-mask-size:40px 40px;}.battery:hover::before{background-color:#ff6347;}
				figcaption При наведении поменяется цвет, а в состоянии фокуса будет рамка.
	section
		.container
			h2 Иконка частично меняющая цвет
			p Тут можно несколькими способами вставить иконку в html.

	section
		.container
			h2.visually-hidden видео
			+zen-video("https://dzen.ru/embed/v7qTAnVTgDAY?from_block=partner&from=zen&backoffice=1&mute=1&autoplay=1&tv=0", "https://dzen.ru/video/watch/6427fdb7e1fa7f2864702b4c", "img/article/deploy/video-1")



			//- +codeBlock('', '')
			//- +codeBlock('', '')
			//- +codeBlock('', '')
			//- +codeBlock('', '')
			//- +codeBlock('', '')
			//- +codeBlock('', '')
			//- +codeBlock('', '')
			//- +codeBlock('', '')
