- var pageTitle = 'Цветные иконки.'
- var desc = 'Как добавить на страницу сайта иконку не добавляя её в html, и как быть если нужно поменять или скрыть часть svg иконки.'

- var heading = 'Цветные иконки.'
- var idPage = 'colored_icons'

- var group = 'article'
- var nameGroup = 'Статьи';

- var descCard = 'Привет!) Статья скорее для студентов: Расскажу как добавить на страницу сайта иконку не добавляя её в html, и как быть если нужно...'
- var url = 'article/article/colored_icons/'
- var date = '14.05.2023'
